html {
  height: 100%;
  font-family: 'Cabin', sans-serif;
}

body {
  height: 100%;
  margin: 0;
}

.main-img {
  background-image: url('../img/restaurant3.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 700px;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 0 9%;
  box-sizing: border-box;
  transition: background .2s linear;
}

.navbar-scrolled {
  position: fixed;
  background: rgba(51, 51, 51, 0.81);
  width: 100%;
  padding: 0 9%;
  box-sizing: border-box;
  transition: background .2s linear;
  z-index: 99;
}

.nav-holder {
  padding: 53px 0 20px 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.65);
  display: flex;
  align-items: center;
  transition: padding .2s linear;
  text-shadow: 0 0 17px black;
}

.nav-holder-scrolled {
  padding: 9px 0 9px 0px;
  display: flex;
  align-items: center;
  transition: padding .2s linear;
}

.mochi {
  color: white;
  font-size: 2.1em;
  margin-left: 8px;
  letter-spacing: .04em;
  transition: font-size .2s linear;
}

.mochi-scrolled {
  color: white;
  font-size: 1.7em;
  margin-left: 8px;
  text-shadow: black;
  box-shadow: black;
  letter-spacing: .04em;
  transition: font-size .2s linear;
}

.mochi-lightbox {
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  margin-left: 4px;
  font-size: .9em;
  position: relative;
  top: 7px;
  transition: font-size .2s linear;  
}

.mochi-lightbox-scrolled {
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  margin-left: 4px;
  font-size: .8em;
  position: relative;
  top: 4px;
  transition: font-size .2s linear;  
}

.logo {
  width: 60px;
  height: 45px;
  border-radius: 57% 57% 50% 50% / 90% 90% 40% 40%;
  -webkit-border-radius: 57% 57% 50% 50% / 90% 90% 40% 40%;
  box-shadow: 8px 7px 20px 0px rgba(0, 0, 0, 0.28);
  background: linear-gradient(-65deg, #45bde1, #d64646);
  /*background: linear-gradient( -65deg, #d0f0c0, green );*/ /*green color scheme*/
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 9px #15304c;
  transition: all .2s linear;  
}

.logo-scrolled {
  width: 50px;
  height: 37.5px;
  border-radius: 57% 57% 50% 50% / 90% 90% 40% 40%;
  -webkit-border-radius: 57% 57% 50% 50% / 90% 90% 40% 40%;
  box-shadow: 8px 7px 20px 0px rgba(0, 0, 0, 0.28);
  background: linear-gradient(-65deg, #45bde1, #d64646);
  /*background: linear-gradient( -65deg, #d0f0c0, green );*/ /*green color scheme*/
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 9px #15304c;
  transition: all .2s linear;  
}

.footer-logo {
  width: 50px;
  height: 37.5px;
  border-radius: 57% 57% 50% 50% / 90% 90% 40% 40%;
  -webkit-border-radius: 57% 57% 50% 50% / 90% 90% 40% 40%;
  box-shadow: 8px 7px 20px 0px rgba(0, 0, 0, 0.28);
  background: linear-gradient(-65deg, #45bde1, #d64646);
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 9px #15304c;
}  

h3.learn-more {
  border: 1px solid rgba(255, 255, 255, 0.61);
  border-radius: 6px;
  padding: 11px 24px;
  position: absolute;
  right: 9%;
  font-size: 1em;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  margin: 0;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
}

h3.learn-more:hover {
  background: rgba(238, 238, 238, 0.22);
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition:background-color 0.3s;
}

h3.learn-more:active {
  background: rgba(238, 238, 238, 0.32);
}

h3.learn-more:focus {
  outline: none;
}

h3.learn-more-scrolled {
  border: 1px solid rgba(255, 255, 255, 0.61);
  border-radius: 6px;
  padding: 11px 24px;
  position: absolute;
  right: 9%;
  font-size: 1em;
  background: #e3516c;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  margin: 0;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
}

h3.learn-more-scrolled:hover {
  background: rgba(238, 238, 238, 0.22);
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition:background-color 0.3s;
}

h3.learn-more-scrolled:active {
  background: rgba(238, 238, 238, 0.32);
}

h3.learn-more-scrolled:focus {
  outline: none;
}

h3.nav-item {
  padding: 11px 24px;
  font-size: .9em;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  margin: 0;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  position: absolute;
}

h3.nav-item:hover {
  opacity: 0.7;
}

.main-txt {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.7em;
  /* background: rgba(130, 130, 130, 0.55); */
  border-radius: 7px;
}

button.demo-button {
  height: 50px;
  width: 210px;
  border-radius: 6px;
  /*background: #92dc6e;*/ /*green color scheme*/
  background: #e3516c;
  border: none;
  font-size: 0.6em;
  margin: 35px;
  color: white;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  box-shadow: 1px black;
}

button.demo-button:hover {
  background: #e5627a;
}

button.demo-button:active {
  /*background: #b1e697;*/ /*green color scheme*/
  background: #e76f85;
}

button.demo-button:focus {
  outline: none;
}

h1.tagline {
  margin: 10px;
  font-weight: 400;
  font-size: 2.3em;
  letter-spacing: .03em;
  text-shadow: 0 0 17px black;
  animation: slidedown 1s;
  -moz-animation: slidedown 1s;
  -webkit-animation: slidedown 1s;
  animation-fill-mode: forwards; /*makes the object keep the new position*/
}

h3.slogan-description {
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  font-weight: 400;
  font-size: .9em;
  text-shadow: 0 0 5px black;
  width: 50%;
  /* background: rgba(128, 128, 128, 0.3); */
  border-radius: 5px;
}

i.chevron-down {
  color: white;
  font-size: 1.9em;
  position: absolute;
  text-decoration: none;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounceUpDown 1s linear infinite;
  -moz-animation: bounceUpDown 1s linear infinite;
  -webkit-animation: bounceUpDown 1s linear infinite;
}

i.chevron-down:hover {
  opacity: 0.7;
}

#description-section {
  width: 100%;
  height: 250px;
  padding: 5% 21%;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(-19deg, rgba(69, 189, 225, 0.33), rgba(214, 70, 70, 0.25));
}

.description-section-text {
  font-size: 2em;
}

#lightbox-example {
  width: 100%;
  height: 500px;
  display: flex;
  box-sizing: border-box;
  background: #eee;
}

.lightbox-example-pane {
  /* order: 1; */
  margin: 50px;
  min-width: 300px;
  width: 30%;
  background: white;
}

#signup {
  width: 100%;
  height: 800px;
  background: linear-gradient(-19deg, rgba(69, 189, 225, 0.72), rgba(214, 70, 70, 0.45));
}

#signup-img {
  width: 100%;
  max-height: 800px;
  position: relative;
  z-index: -10;
}

#footer {
  width: 100%;
  height: 90px;
  padding: 16px 9%;
  box-sizing: border-box;
  background: #333333;
}

.footer-holder {
  padding: 9px 0 9px 0px;
  display: flex;
  align-items: center;
}

.copyright {
  margin: 0 auto;
}


##### ANIMATIONS #####

/*make the down chevron on the main page bounce*/
@keyframes bounceUpDown {0% {top: 87%;} 50% {top: 85%;} 100% {top: 87%;}}
@-moz-keyframes bounceUpDown {0% {top: 87%;} 50% {top: 85%;} 100% {top: 87%;}}
@-webkit-keyframes bounceUpDown {0% {top: 87%;} 50% {top: 85%;} 100% {top: 87%;}}

/*slide in*/
@keyframes slidedown {from {transform:translateY(-20px);} to {transform:translateY(0);}}
@-moz-keyframes slidedown {from {transform:translateY(-20px);} to {transform:translateY(0);}}
@-webkit-keyframes slidedown {from {transform:translateY(-20px);} to {transform:translateY(0);}}
}