#login-page-content {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-container {
  font-family: 'Cabin', sans-serif!important;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 175px;
  @media #{$desktop} {
    padding: 30px 150px;
  }
}

.login-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.mochi-login {
  color: white;
  font-size: 2.9em;
  margin-left: 8px;
  letter-spacing: .04em;
  transition: font-size .2s linear;
  user-select: none;
  -webkit-user-select: none;
}

.logo-login {
  width: 60px;
  height: 45px;
  border-radius: 57% 57% 50% 50% / 90% 90% 40% 40%;
  -webkit-border-radius: 57% 57% 50% 50% / 90% 90% 40% 40%;
  box-shadow: inset 0 0 9px rgba(21, 48, 76, 0.39);
  -webkit-box-shadow: inset 0 0 9px rgba(21, 48, 76, 0.39);
  -moz-box-shadow: inset 0 0 9px rgba(21, 48, 76, 0.39);  
  background: linear-gradient(-65deg, #45bde1, #d64646);
  transition: all .2s linear;  
}

.login-input {
  font-size: .9em;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  margin-top: 20px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;  
  &:hover {
    background: #f8f4f4;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
  }
  &:focus {
    outline: none;
  }  
}

#login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3516c;
  border: none;
  border-radius: 6px;
  margin-top: 30px;
  font-size: 1em;  
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  user-select: none;
  -webkit-user-select: none;  
  cursor: pointer;
  &:hover {
    background: #e97a8e;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition:background-color 0.3s;    
  }
  &:focus {
    outline: none;
  }
}

#login-spinner {
  display: none;
  margin-right: 10px;
}

#login-text {
  padding: 11px 0px;
}

.pass-reqs {
  font-size: 0.8em;
  color: white  
}

.register-request {
  margin-top: 10px;
  font-size: 0.9em;
  color: white    
}

